.footer {
  box-sizing: border-box;
  background-color: #0a2850;
  color: #ffffff;
  width: 100%;
  position: relative;
  padding: 60px 80px;
  display: flex;
  flex-wrap: wrap;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.footer__logo {
  position: absolute;
  width: 105px;
  height: 39px;
  z-index: 2;
}

.footer__circle {
  position: absolute;
  top: -128px;
  left: -44px;
  width: 340px;
  height: 340px;
  background-image: url("images/favicon_circles.ico");
  background-size: cover;
  background-color: #2f80ed;
  border-radius: 100%;
  z-index: 0;
}

.footer__social {
  justify-content: flex-end;
}

.footer__social_heading {
  margin-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list_item {
  margin-bottom: 16px;
}

.footer__social_link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social_icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 108px;
  text-align: left;
}

.footer__social_link:hover {
  color: #c1c1c1;
}

.footer__social_link:focus {
  color: #c1c1c1;
}
